In [1]:
import puzzle

test0 = puzzle.load_puzzle('input/test0.txt')
test0.do()
expected = [
    15887950
   , 16495136
   , 527345
   , 704524
   , 1553684
   , 12683156
   , 11100544
   , 12249484
   , 7753432
   , 5908254
]
actual = [seq[0] for seq in test0.sequences[123][:10]]
assert expected==actual, f"Test2 failed!\n  Expected: {expected}\n  Actual: {actual}"


test = puzzle.load_puzzle('input/test.txt')
test.do()
expected = 37327623
actual = test.checksum()
assert expected==actual, f"Test failed!\n  Expected: {expected}\n  Actual: {actual}"
"""
test2 = puzzle.load_puzzle('input/test.txt')
test2.do()
expected = 0123
actual = test2.checksum()
assert expected==actual, f"Test2 failed!\n  Expected: {expected}\n  Actual: {actual}"

#or

expected = 01234
actual = test.check_p2()
assert expected==actual, f"Test2 failed!\n  Expected: {expected}\n  Actual: {actual}"
"""
quest = puzzle.load_puzzle('input/quest.txt')
quest.do()
actual = quest.checksum()
print("Quest Checksum:", actual)
"""
expected = 0123
assert expected==actual, f"Part 1 failed!\n  Expected: {expected}\n  Actual: {actual}"

p2 = quest.check_p2()
print("Quest Checksum Part 2:", p2)
"""

Computing sequences: 100%|██████████| 1/1 [00:00<00:00, 764.41secret/s]
Computing sequences: 100%|██████████| 4/4 [00:00<00:00, 1157.77secret/s]
Computing sequences: 100%|██████████| 1729/1729 [00:01<00:00, 1532.54secret/s]

Quest Checksum: 14180628689

'\nexpected = 0123\nassert expected==actual, f"Part 1 failed!\n  Expected: {expected}\n  Actual: {actual}"\n\np2 = quest.check_p2()\nprint("Quest Checksum Part 2:", p2)\n'

In [2]:
import pandas as pd

In [4]:
df = pd.DataFrame(test.sequences[1], columns=["secret", "price", "change"])
df

        secret  price  change
0       137283      3       2
1     12980423      3       0
2     12601359      9       6
3      1593745      5      -4
4     11512959      9       4
...        ...    ...     ...
1995   3374536      6      -2
1996   9887670      0      -6
1997  16581543      3       3
1998   9545012      2      -1
1999   8685429      9       7

[2000 rows x 3 columns]