In [1]:
import puzzle

test2 = puzzle.load_puzzle('input/test2.txt')
test2.do()
expected = 23
actual = test2.check_p2()

Computing sequences: 100%|██████████| 4/4 [00:00<00:00, 1045.18secret/s]

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(test2.sequences[1], columns=["secret", "price", "change", "change_seq"])
df["base"] = 1
df

        secret  price  change             change_seq  base
0       137283      3       2  [None, None, None, 2]     1
1     12980423      3       0     [None, None, 2, 0]     1
2     12601359      9       6        [None, 2, 0, 6]     1
3      1593745      5      -4          [2, 0, 6, -4]     1
4     11512959      9       4          [0, 6, -4, 4]     1
...        ...    ...     ...                    ...   ...
1995   3374536      6      -2         [-7, 6, 2, -2]     1
1996   9887670      0      -6         [6, 2, -2, -6]     1
1997  16581543      3       3         [2, -2, -6, 3]     1
1998   9545012      2      -1        [-2, -6, 3, -1]     1
1999   8685429      9       7         [-6, 3, -1, 7]     1

[2000 rows x 5 columns]

In [6]:
df[df["price"]==7]

        secret  price  change       change_seq  base
8      5592677      7      -2   [-9, 5, 4, -2]     1
16     5403517      7       2   [6, -1, -3, 2]     1
21     6092487      7       4    [0, 3, -6, 4]     1
34    15981557      7      -1    [3, 3, 0, -1]     1
37     4892867      7       7  [-1, -3, -4, 7]     1
...        ...    ...     ...              ...   ...
1963   1759857      7       3   [-2, 1, -1, 3]     1
1967   9783337      7       4    [1, 0, -5, 4]     1
1969   3644237      7       5   [-5, 4, -5, 5]     1
1976   5150757      7       6   [0, -4, -4, 6]     1
1991   5235067      7       5   [-4, -2, 0, 5]     1

[187 rows x 5 columns]

In [7]:
df_master = pd.DataFrame(columns=["secret", "price", "change", "change_seq", "base"])
for base, seq in test2.sequences.items():
    df = pd.DataFrame(seq, columns=["secret", "price", "change", "change_seq"])
    df["base"] = base
    df_master = pd.concat([df_master, df])
df_master

        secret price change             change_seq  base
0       137283     3      2  [None, None, None, 2]     1
1     12980423     3      0     [None, None, 2, 0]     1
2     12601359     9      6        [None, 2, 0, 6]     1
3      1593745     5     -4          [2, 0, 6, -4]     1
4     11512959     9      4          [0, 6, -4, 4]     1
...        ...   ...    ...                    ...   ...
1995   5861630     0     -9         [6, -5, 8, -9]  2024
1996   2968837     7      7         [-5, 8, -9, 7]  2024
1997  10273831     1     -6         [8, -9, 7, -6]  2024
1998  11854728     8      7         [-9, 7, -6, 7]  2024
1999   8667524     4     -4         [7, -6, 7, -4]  2024

[8000 rows x 5 columns]

In [8]:
df_master['change_str'] = df_master['change_seq'].astype(str)

In [9]:
df_first_price_per_cseq_n_buyer = df_master[['change_str', 'base', 'price']].groupby(['change_str', 'base']).first()
df_first_price_per_cseq_n_buyer

                           price
change_str            base
[-1, -1, -1, -2]      2        4
[-1, -1, -1, -3]      1        0
[-1, -1, -1, -4]      1        0
[-1, -1, -1, 0]       3        1
[-1, -1, -1, 3]       2        5
...                          ...
[None, None, 5, -4]   2024     5
[None, None, None, 0] 3        3
[None, None, None, 2] 1        3
[None, None, None, 4] 2        6
[None, None, None, 5] 2024     9

[7725 rows x 1 columns]

In [11]:
df_top_seq = df_first_price_per_cseq_n_buyer.groupby(['change_str']).sum().sort_values(by='price', ascending=False)
df_top_seq

                price
change_str
[-2, 1, -1, 3]     23
[-1, 3, 1, 0]      22
[1, -3, 5, 1]      21
[-4, -1, 5, -1]    20
[0, 5, 0, 0]       20
...               ...
[6, -9, 1, -1]      0
[-7, 9, -5, -4]     0
[3, 0, 4, -9]       0
[0, 1, -4, -1]      0
[0, 6, 0, -6]       0

[7026 rows x 1 columns]

In [12]:
df_top_seq.values.item(0)

23